{% extends '_base.html' %}

{% block page_content %}
{% include 'messages.html' %}
<h3>{{ message }}</h3>
<div class="page-header">
        <h1>{{ error }}</h1>

</div>



{% endblock page_content %}
