<table class="table table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            {% for field, value in city_weather.items() %}
                <tr>
                    <td>{{ field.capitalize() }}</td>
                    {% if field == 'icon_url' %}
                    <td class="bg-info"><img src="{{ value }}"></td>
                    {% else %}
                    <td>{{ value }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>