{% extends '_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
<div class="page-header">
  <h1>{{ title }}</h1>
</div>



{% include 'messages.html' %}
<div class="col-md-4">
    <form action="{{ url_for('main.update_user') }}" method="post">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.id) }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.role) }}
    {{ wtf.form_field(form.submit) }}
</form>
</div>

{% endblock page_content %}