{% extends '_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
<body>
<div>
    <h1>Hello,
        {% if current_user.is_authenticated %}
        {{ current_user.username }}!
        {% else %}
        Stranger!
        {% endif %}
    </h1>
</div>
<div>
    <h3>Generate test users data</h3>
    {% include 'messages.html' %}
    <h3>{{ message }}</h3>
    <form action="" method="post" class="col-md-1">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.qty) }}
        {{ wtf.form_field(form.submit) }}
    </form>

</div>
{% endblock page_content %}
</body>