{% extends '_base.html' %}

{% block page_content %}
{% include 'messages.html' %}
<div class="page-header">
    <h1>{{ user.username }} </h1>

</div>


<div class="col-4">
    <table>
        <tr>
            <td><h2>User email: {{ user.email }}</h2></td>
        </tr>
        <tr>
            <td><h2>User role: {{ user.role.name }}</h2></td>
        </tr>
        <tr>
            <td><h2><img src="{{ user.profile.avatar }}" style="float:left;" alt="avatar" width="100" height="100"></h2></td>
        </tr>
    </table>


</div>

{% endblock page_content %}
