{% extends '_base.html' %}

{% block page_content %}
<div class="">
    <h1>Users admin panel</h1>
</div>


{% include 'messages.html' %}
<button type="button" class="btn btn-primary" id="selectButton" onclick="toggle()">Select all</button>
<button type="submit" class="btn btn-danger" form="userForm">Delete</button>
<hr>

<form action="{{ url_for('main.delete_users') }}" method="post" id="userForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="table-responsive">
        <table class="table table-hover table striped" id="userTable">
            <thead>
            <tr>
                <th class="col">Select</th>
                <th class="col">Username</th>
                <th class="col">Email</th>
                <th class="col">Role</th>
                <th class="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <input type="checkbox" name="selectors" class="checkbox" value="{{ user.id }}">
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role.name }}</td>
                <td>
                    <a href="{{ url_for('main.edit_user', user_id=user.id) }}">
                        <button type="button" class="btn btn-info">Edit</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    {{ pagination.info }}
    {{ pagination.links }}
</form>
{% endblock page_content %}
