.error {
    background-color: purple;
    color: antiquewhite;
    font-weight: bolder;
}

.divider {
    height: 200px;
}



.navbar-inverse {
    background-color: black;
}



.navbar-fixed-bottom {
    background-color: black;
}