{% extends '_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
<div>
    <h1>Login</h1>
    <h1>Hello stranger!</h1>
</div>
{% include 'messages.html' %}

<div class="col-md-4">
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember_me) }}
        {{ wtf.form_field(form.submit) }}

    </form>
    <hr>
    <p>
        New user?
        <a href="#">
            <strong>Click to register</strong>
        </a>
    </p>
</div>

{% endblock page_content %}
