<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left lead">Site built by dogs for dogs &copy; <span id="year"></span></p>
      <a class="navbar-btn btn btn-danger pull-right" href="https://www.youtube.com/results?search_query=Dogs">Youtube subscribe</a>
    </div>
  </div>
</footer>