<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dog Care</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
<!--            <div class="navbar-collapse collapse">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li>-->
<!--                        <a href="/about">Our team</a>-->
<!--                    </li>-->
<!--                </ul>-->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdawn-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false" id="weatherDrop"> Weather <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('weather.index') }} " methods="GET" id="weatherLink">Weather info</a></li>
                                <li><a href="{{ url_for('weather.show_city') }} " methods="GET" id="userCityLink">User cities monitor</a></li>

                                <!--                                <li role="separator" class="divider"></li>-->
                            </ul>

                        </li>
                    </ul>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/about">About</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if current_user.is_authenticated %}
                            <li>
                                <a href="{{ url_for('main.profile', user_id=current_user.id) }}">
                                    <img src="{{ current_user.profile.avatar }}" alt="avatar" width="20" height="20">
                                    {{ current_user.username }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">Logout</a>
                            </li>
                            {% else %}
                            <li><a href="{{ url_for('auth.register') }}" id="register">Register</a></li>
                            <li><a href="{{ url_for('auth.login') }}" id="loginLink">Login</a></li>
                            {% endif %}
                        </ul>
                        {% if current_user.is_authenticated and current_user.role.name == 'admin' %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdawn-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    Users <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('main.show_users') }} " methods="GET">Show users</a></li>

                                    <!--                                <li role="separator" class="divider"></li>-->
                                </ul>

                            </li>

                        </ul>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>